<div class="container top-container">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#RegistrarSuceso" role="tab" aria-controls="home" aria-selected="true">Registrar Incidentes/Intervenciones</a>
      </li>

    </ul>
    <div class="tab-content" id="myTabContent">

        <!--Registrar Suceso-->
      <div class="tab-pane fade show active" id="RegistrarSuceso" role="tabpanel" aria-labelledby="home-tab">
            <div class="card">
            <!--*********PASO1***************
            <div class="card-body Margenes">
                <div class="form-row">
                  <div class="col-4"></div>
                  <div class="col"><input type="text" class="form-control" id="formGroupExampleInput" placeholder="Introducir Nombre de Suceso"></div>
                  <div class="col-4"></div>
                </div>
                <br>
                <div class="form-row">
                  <div class="col"></div>
                  <div class="col"><button class="btn btn-primary btn-block" type="submit">Continuar</button></div>
                  <div class="col"></div>
                </div>
              </div>
              *************PASO2****************
              <div class="card-body Margenes">

                <div class="form-row">
                  <div class="col">
                        <select class="form-control" id="Actividad">
                          <option disabled selected>Seleccione Actividad</option>
                          <option>Baño en Reposo</option>
                          <option>Juegos en el Agua</option>
                          <option>Natación Recreativa</option>
                          <option>Entrenamiento</option>
                          <option>Natación Competitiva</option>
                          <option>Bueceo Recreativo (Sin Botella)</option>
                          <option>Bueceo Recreativo (Con Botella)</option>
                          <option>Buceo Profesional</option>
                          <option>Pesca desde Playa</option>
                          <option>Pesca desde Roca</option>
                          <option>Pesca desde Embarcación</option>
                          <option>Paseo-caída</option>
                          <option>Transporte Acuático</option>
                          <option>Transporte no Acuático</option>
                          <option>Embarcación de Vela</option>
                          <option>Embarcación a Parapente</option>
                          <option>Esquí Acuático</option>
                          <option>Surf</option>
                          <option>Padel Surf</option>
                          <option>No relevante</option>
                          <option>Otras</option>
                          <option>Pesca con Arpón</option>
                        </select>
                  </div>
                  <div class="col">
                        <select class="form-control" id="Paises">
                          <option selected>España</option>
                          <option *ngFor="let i of Paises;">{{i}}</option>
                          </select>
                  </div>
                  <div class="col-2">
                        <select class="form-control" id="Sexo">
                            <option disabled selected>Sexo</option>
                            <option>Femenino</option>
                            <option>Masculino</option>
                            <option>Otro</option>
                          </select>
                  </div>
                  <div class="col-2">
                        <select class="form-control" id="Edad">
                            <option disabled selected>Edad</option>
                            <option>0 - 1</option>
                            <option>1 - 4</option>
                            <option>5 - 9</option>
                            <option>10 - 14</option>
                            <option>15 - 19</option>
                            <option>20 - 24</option>
                            <option>25 - 44</option>
                            <option>45+</option>
                          </select>
                  </div>
                </div>
                <br>
                <div class="form-row EsquemaMapa"></div>

              </div>
            -->
            <div class="card-body Margenes">

              </div>

            </div>
      </div>


  </div>
</div>
