<body class="landing">

    <div id="contenedor">
      <div id="principal">

                <section id="banner"></section>
                  <section id="main" class="container">
                    <div class="card">
              <div class="card-block">
                <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
                <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

                      </div>
                      </div>
                  </section>

                </div>
    </div>
</body>
