<body class="landing">

    <div>
      <div id="principal">

                <section id="banner"></section>
                  <section id="main" class="container">
                    <div class="card">
              <div class="card-block">
                <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
                <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

                      </div>
                      </div>
                  </section>

                </div>
    </div>

  <footer id="final_footer">
  <div class="logos">
    <ul id="navlist">
      <li><a href="https://www.cantabria.es" target="_blank"><img src="assets/Footer/gobcantabria.png" /></a></li><!--
      --><li><a href="http://citican.org/" target="_blank"><img src="assets/Footer/citican.png" /></a></li><!--
      --><li><a href="http://www.sodercan.es/" target="_blank"><img src="assets/Footer/sodercan.png" /></a></li><!--
      --><li><a href="https://www.uneatlantico.es/" target="_blank"><img src="assets/Footer/uneatlantico.png" /></a></li>
    </ul>
  </div>
  </footer>
</body>
