<!--<div class="container top-container">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Elige una Playa</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Solicitar una Nueva Playa</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Dar de Alta a un Nuevo Usuario</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

        <div class="card">
          <div class="card-body">

                      <table class="table table-striped">
                <tbody>
                  <tr>
                    <th scope="row"></th>
                    <td><img src="assets/Relleno.png" class="rounded-circle"></td>
                    <td><img src="assets/Relleno.png" class="rounded-circle"></td>
                    <td><img src="assets/Relleno.png" class="rounded-circle"></td>
                  </tr>
                  <tr>
                    <th scope="row"></th>
                    <td><img src="assets/Relleno.png" class="rounded-circle"></td>
                    <td><img src="assets/Relleno.png" class="rounded-circle"></td>
                    <td><img src="assets/Relleno.png" class="rounded-circle"></td>
                  </tr>
                  <tr>
                    <th scope="row"></th>
                    <td><img src="assets/Relleno.png" class="rounded-circle"></td>
                    <td><img src="assets/Relleno.png" class="rounded-circle"></td>
                    <td><img src="assets/Relleno.png" class="rounded-circle"></td>
                  </tr>

                </tbody>
              </table>

          </div>
        </div>

      </div>
      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

        <div class="card">
          <div class="card-body" style="margin-top: 40px; margin-bottom: 40px;">
            <div class="row">
              <div class="col"></div>



            <div class="col-10"><form>
              <div class="form-row">
                <div class="col"><input type="text" class="form-control" id="formGroupExampleInput" placeholder="Nombre de la Playa"></div>
                <div class="col"><input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Correo Electronico"></div>
              </div>

              <br />

              <div class="form-row">
                <div class="col"><input type="text" class="form-control" id="formGroupExampleInput" placeholder="Latitud"></div>
                <div class="col"><input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Longitud"></div>
                <div class="col"><button type="submit" class="btn btn-primary btn-block">Ver en Mapa</button></div>
              </div>

              <br />

              <div class="form-row">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Comentarios"></textarea>
              </div>


              <br />

              <div class="form-row">
                <div class="col"></div>
                <div class="col-auto"><button type="submit" class="btn btn-primary btn-lg">Enviar Solicitud</button></div>
                <div class="col"></div>
              </div>
            </form></div>
            <div class="col">
            </div>
            </div>


          </div>
        </div>

      </div>
      <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">

        <div class="card">
          <div class="card-body" style="margin-top: 40px; margin-bottom: 40px;">

            <div class="row">
              <div class="col"></div>



            <div class="col-10"><form>
              <div class="form-row">
                <div class="col"><input type="text" class="form-control" id="formGroupExampleInput" placeholder="Nombre de Usuario"></div>
                <div class="col"><input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Correo Electronico"></div>
                <div class="col"><input type="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña"></div>
                <div class="col">
                  <select class="form-control" id="exampleFormControlSelect1">
                          <option disabled>Rol de Usuario</option>
                          <option>Encargado de Playa</option>
                          <option>Socorrista</option>
                  </select></div>
              </div>

              <br />

              <div class="form-row">
                <div class="col">
                  <select class="form-control" id="exampleFormControlSelect1">
                          <option disabled>Sexo</option>
                          <option>Femenino</option>
                          <option>Masculino</option>
                          <option>Otro</option>
                  </select></div>
                <div class="col"><input type="text" class="form-control" id="formGroupExampleInput" placeholder="Num. de Temporadas como Socorrista"></div>
                <div class="col">
                  <select class="form-control" id="exampleFormControlSelect2">
                          <option disabled>Experiencia en</option>
                          <option>Playas</option>
                          <option>Piscinas</option>
                          <option>Playas y Piscinas</option>
                  </select></div>
              </div>

              <br />

              <div class="form-row">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Haz una breve Descripción"></textarea>
              </div>

              <br />

              <div class="form-row">
                <div class="col"><input type="text" class="form-control" id="formGroupExampleInput" placeholder="Horas de Formación"></div>
                <div class="col">
                  <select class="form-control" id="exampleFormControlSelect1">
                          <option disabled>Ultima Formación</option>
                          <option *ngFor="let i of years; ">{{i}}</option>

                  </select></div>
                  <div class="col"><input type="text" class="form-control" id="formGroupExampleInput" placeholder="Entidad Formadora"></div>
              </div>

              <br />

              <div class="form-row">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Descripción sobre Formación"></textarea>
              </div>

              <br />

              <div class="form-row">
                <div class="col"><input type="text" class="form-control" id="formGroupExampleInput" placeholder="Codigo"></div>
                <div class="col"><input type="text" class="form-control" id="formGroupExampleInput" placeholder="Inicio Contrato - Ej: 21/01/2018"></div>
              </div>

              <br />

              <div class="form-row">
                <div class="col"></div>
                <div class="col-auto"><button type="submit" class="btn btn-primary btn-lg">Registrar</button></div>
                <div class="col"></div>
              </div>
            </form></div>
            <div class="col">
            </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    </div>-->

    <div class="container top-container">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Modificar Playa</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Dar de Alta un Riesgo</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

        <div class="card">
          <div class="card-body" style="margin-top: 40px; margin-bottom: 40px;">

            <!--<form>
              <div class="row">
                <div class="col"></div>
                <div class="col">
                        <div class="form-check">
                          <input type="checkbox" class="form-check-input" id="exampleCheck1">
                          <label class="form-check-label" for="exampleCheck1">Peatonal</label>
                        </div>
                        <div class="form-check">
                          <input type="checkbox" class="form-check-input" id="exampleCheck1">
                          <label class="form-check-label" for="exampleCheck1">Vehiculos de Emergencia</label>
                        </div>
                        <div class="form-check">
                          <input type="checkbox" class="form-check-input" id="exampleCheck1">
                          <label class="form-check-label" for="exampleCheck1">Discapacitados</label>
                        </div>
                        <div class="form-check">
                          <input type="checkbox" class="form-check-input" id="exampleCheck1">
                          <label class="form-check-label" for="exampleCheck1">Acceso Embarcaciones</label>
                        </div>
              </div>
              <div class="col">
                        <div class="form-check">
                          <input type="checkbox" class="form-check-input" id="exampleCheck1">
                          <label class="form-check-label" for="exampleCheck1">Señalización de Accesos</label>
                        </div>
                        <div class="form-check">
                          <input type="checkbox" class="form-check-input" id="exampleCheck1">
                          <label class="form-check-label" for="exampleCheck1">Coche</label>
                        </div>
                        <div class="form-check">
                          <input type="checkbox" class="form-check-input" id="exampleCheck1">
                          <label class="form-check-label" for="exampleCheck1">Acceso Helicopteros</label>
                        </div>
              </div>
              <div class="col"></div>
            </div>


          </form>-->
          <!--<form>
            <div class="row">
              <div class="col"></div>
              <div class="col">
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Auxilio y Salvamento</label>
                      </div>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Señalización de Peligro</label>
                      </div>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Puesto de Vigilancia</label>
                      </div>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Megafonía</label>
                      </div>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Base de Socorrismo</label>
                      </div>
            </div>
            <div class="col">
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Banderas</label>
                      </div>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Balizamiento Terrestre</label>
                      </div>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Base de Operaciones</label>
                      </div>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Carteles informativos</label>
                      </div>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Balizamiento Acuático</label>
                      </div>
            </div>
            <div class="col"></div>
          </div>


        </form>-->
        <!--<form>
          <div class="form-row">
            <div class="col-1"></div>
            <div class="col"><input type="text" class="form-control" id="formGroupExampleInput" placeholder="Carretera más Proxima"></div>
            <div class="col-1"></div>
          </div>
          <br>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Autobus</label>
          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Aparcamiento</label>
          </div>
        </form>-->
        <!--<form>
          <div class="form-row">
            <div class="col-1"></div>
            <div class="col"><input type="text" class="form-control" id="formGroupExampleInput" placeholder="Nombre de Hospital"></div>
            <div class="col-1"></div>
          </div>
          <br>
          <div class="form-row">
            <div class="col-1"></div>
            <div class="col"><input type="text" class="form-control" id="formGroupExampleInput" placeholder="Longitud"></div>
            <div class="col-1"></div>
          </div>
          <br>
          <div class="form-row">
            <div class="col-1"></div>
            <div class="col"><input type="text" class="form-control" id="formGroupExampleInput" placeholder="Latitud"></div>
            <div class="col-1"></div>
          </div>
        </form>-->
        <form>
          <div class="form-row">
            <div class="col"><input type="text" class="form-control" id="formGroupExampleInput" placeholder="Puerto Deportivo"></div>
            <div class="col"><input type="text" class="form-control" id="formGroupExampleInput" placeholder="Distancia Puerto de Playa"></div>
          </div>
          <br>
          <div class="form-row">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Observaciones Generales"></textarea>
          </div>
          <br>
          <div class="form-row">
            <div class="col-5"></div>
            <div class="col-auto"><button type="submit" class="btn btn-primary btn-lg">Atras</button></div>
            <div class="col-auto"><button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Guardar</button></div>
            <div class="col-5"></div>
          </div>
        </form>

        <script>
        $('#myModal').on('shown.bs.modal', function () {
      $('#myInput').trigger('focus')
    })

        </script>

        <!--MODAL-->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">¿Estas Seguro?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Estas a punto de guardar esta acción.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-primary" data-dismiss="modal">Guardar</button>
      </div>
    </div>
  </div>
</div>



          </div>
        </div>

      </div>
      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

        <div class="card">
          <div class="card-body contenedorLados" style="margin-top: 40px; margin-bottom: 40px;">
            <div class="row EsquemaMapa"></div>

          </div>
        </div>

      </div>
    </div>
    </div>
