<footer class="footer">

  <ul id="navlist" class="logos">
    <li><a href="https://www.cantabria.es" target="_blank"><img src="assets/Footer/gobcantabria.png" /></a></li><!--
    --><li><a href="http://citican.org/" target="_blank"><img src="assets/Footer/citican.png" /></a></li><!--
    --><li><a href="http://www.sodercan.es/" target="_blank"><img src="assets/Footer/sodercan.png" /></a></li><!--
    --><li><a href="https://www.uneatlantico.es/" target="_blank"><img src="assets/Footer/uneatlantico.png" /></a></li>
  </ul>

</footer>

<!--https://www.youtube.com/watch?v=qlCIXXhSX6Y-->
